.start {
  /*border: 1px solid rgb(175, 216, 248);*/
  background-image: url(styling/triangletwo-right.svg);
  /*background-color: rgb(255, 254, 106);*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: specialNodes;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.instantshortest-path-up {
  /*border: 1px solid rgb(175, 216, 248);*/
  background: url(styling/triangletwo-up.svg);
  background-color: rgb(255, 254, 106);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.shortest-path-up {
  /*border: 1px solid rgb(175, 216, 248);*/
  background: url(styling/triangletwo-up.svg);
  background-color: rgb(255, 254, 106);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: triangletwo;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.instantshortest-path-down {
  /*border: 1px solid rgb(175, 216, 248);*/
  background: url(styling/triangletwo-down.svg);
  background-color: rgb(255, 254, 106);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.shortest-path-down {
  /*border: 1px solid rgb(175, 216, 248);*/
  background: url(styling/triangletwo-down.svg);
  background-color: rgb(255, 254, 106);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: triangletwo;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.instantshortest-path-right {
  /*border: 1px solid rgb(175, 216, 248);*/
  background: url(styling/triangletwo-right.svg);
  background-color: rgb(255, 254, 106);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.shortest-path-right {
  /*border: 1px solid rgb(175, 216, 248);*/
  background: url(styling/triangletwo-right.svg);
  background-color: rgb(255, 254, 106);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: triangletwo;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.instantshortest-path-left {
  /*border: 1px solid rgb(175, 216, 248);*/
  background: url(styling/triangletwo-left.svg);
  background-color: rgb(255, 254, 106);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.shortest-path-left {
  /*border: 1px solid rgb(175, 216, 248);*/
  background: url(styling/triangletwo-left.svg);
  background-color: rgb(255, 254, 106);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: triangletwo;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.instantStartTransparent {
  /*border: 1px solid rgb(175, 216, 248);*/
  opacity: 0.5;
  background-image: url(styling/triangletwo-right.svg);
  background-color: rgb(255, 254, 106);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.startTransparent {
  /*border: 1px solid rgb(175, 216, 248);*/
  opacity: 0.5;
  background-image: url(styling/triangletwo-right.svg);
  background-color: rgb(255, 254, 106);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: specialNodes;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.visitedStartNodeBlue {
  /*border: 1px solid rgb(175, 216, 248);*/
  background-image: url(styling/triangletwo-right.svg);
  /*background-color: rgb(255, 254, 106);*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: visitedStartNodeBlueAnimation;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.visitedStartNodePurple {
  /*border: 1px solid rgb(175, 216, 248);*/
  background-image: url(styling/triangletwo-right.svg);
  /*background-color: rgb(255, 254, 106);*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: visitedStartNodePurpleAnimation;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.visitedObjectNode {
  background-image: url(styling/diamond.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: visitedStartNodeBlueAnimation;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.visitedTargetNodeBlue {
  background-image: url(styling/circle.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: visitedStartNodeBlueAnimation;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.visitedTargetNodePurple {
  background-image: url(styling/circle.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: visitedStartNodePurpleAnimation;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedStartNodePurpleAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(41, 4, 24, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(97, 0, 20, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(216, 5, 141, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(178, 67, 255, 0.75);
  }
}

@keyframes visitedStartNodeBlueAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(17, 104, 217, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(0, 217, 159, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(0, 190, 218, 0.75);
  }
}

.strikethrough {
  color: rgb(185, 15, 15);
  text-decoration: line-through;
}

#algorithmDescriptor {
  text-align: center;
  color: #34495e;
  padding: 15px 25px 15px 25px;
}

#mainText > ul li {
  display: inline-block;
  list-style: none;
  padding: 0 28px 0 0;
}

#actualStartButton {
  /*color: red;*/
  background-color: none;
}

#mainGrid {
  position: absolute;
  z-index: 1;
}

#tutorial {
  position: absolute;
  z-index: 3;
  background-color: rgba(255, 255, 255, 1);
  width: 50%;
  height: 70%;
  border: 2px solid #34495e;
  border-radius: 4px;
  text-align: center;
  float: right;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#nextButton {
  color: #ffffff;
  background-color: #1abc9c;
  position: absolute;
  right: 2%;
  bottom: 2%;
}

#previousButton {
  color: #ffffff;
  background-color: #1abc9c;
  position: absolute;
  right: 12%;
  bottom: 2%;
}

#skipButton {
  color: #ffffff;
  background-color: #1abc9c;
  position: absolute;
  left: 2%;
  bottom: 2%;
}

#finishButton {
  color: #ffffff;
  background-color: #1abc9c;
  position: absolute;
  right: 2%;
  bottom: 2%;
}

#finishButton:hover,
#nextButton:hover,
#previousButton:hover,
#skipButton:hover {
  background-color: #48c9b0;
}

#tutorialCounter {
  position: absolute;
  right: 2%;
  top: 2%;
}

#mainTutorialImage {
  width: 25%;
  padding-top: 5px;
}

#secondTutorialImage {
  padding-top: 5px;
}

#tutorial > h3 {
  padding-bottom: 5px;
}

#tutorial > h6 {
  padding: 5px 20px 5px 20px;
}

#tutorial > p {
  padding: 5px 20px 5px 20px;
}

#tutorial > ul li {
  list-style: none;
  padding-bottom: 5px;
  padding-right: 40px;
  font-size: 14px;
}

/*#otherText > ul li {
  display: inline-block;
  list-style: none;
  padding: 10px 50px 0 0;
}*/

#board {
  border-collapse: collapse;
}

#mainText div {
  width: 25px;
  height: 25px;
  display: inline-block;
  position: relative;
  top: 0.35em;
  margin: 0 0.42em;
}

#board {
  margin-left: 5px;
  margin-right: 5px;
}

#board td {
  width: 25px;
  height: 25px;
}

#startButtonStart {
  padding-left: 20px;
  padding-right: 20px;
}

.instantvisited {
  border: 1px solid rgb(175, 216, 248);
  background-color: rgba(0, 190, 218, 0.75);
  /*background-color: rgba(178, 67, 255, 0.75);*/
}

.instantvisited.weight {
  border: 1px solid rgb(175, 216, 248);
  background-color: rgba(0, 190, 218, 0.75);
  /*background-color: rgba(178, 67, 255, 0.75);*/
  background-image: url(styling/weight.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.visited {
  border: 1px solid rgb(175, 216, 248);
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.visited.weight {
  border: 1px solid rgb(175, 216, 248);
  background-image: url(styling/weight.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(17, 104, 217, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(0, 217, 159, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(0, 190, 218, 0.75);
  }
}

.wall {
  animation-name: wallAnimation;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes wallAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgb(12, 53, 71);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(12, 53, 71);
  }

  100% {
    transform: scale(1);
    background-color: rgb(12, 53, 71);
  }
}

.instantvisitedobject {
  border: 1px solid rgb(175, 216, 248);
  background-color: rgba(178, 67, 255, 0.75);
  /*background-color: rgba(0, 190, 218, 0.75);*/
}

.instantvisitedobject.weight {
  border: 1px solid rgb(175, 216, 248);
  background-color: rgba(178, 67, 255, 0.75);
  /*background-color: rgba(0, 190, 218, 0.75);*/
  background-image: url(styling/weight.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.visitedobject {
  /*background:red*/
  border: 1px solid rgb(175, 216, 248);
  animation-name: visitedObjectAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.visitedobject.weight {
  /*background:red*/
  border: 1px solid rgb(175, 216, 248);
  background-image: url(styling/weight.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: visitedObjectAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedObjectAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(41, 4, 24, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(97, 0, 20, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(216, 5, 141, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(178, 67, 255, 0.75);
  }
}

.unvisited {
  border: 1px solid rgb(175, 216, 248);
  background-color: white;
}

.borderlessWeight {
  background-image: url(styling/weight.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: unvisitedWeightAnimation;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.unvisited.weight {
  /*border: 1px solid rgb(175, 216, 248);*/
  background-image: url(styling/weight.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: unvisitedWeightAnimation;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes unvisitedWeightAnimation {
  0% {
    transform: scale(0.3);
    /*background-color: rgb(12, 53, 71);*/
  }

  50% {
    transform: scale(1.2);
    /*background-color: rgb(12, 53, 71);*/
  }

  100% {
    transform: scale(1);
    /*background-color: rgb(12, 53, 71);*/
  }
}

.unvisited.mud {
  background: brown;
}

.current {
  border: 1px solid rgb(175, 216, 248);
  background-color: rgb(255, 254, 106);
}

.object {
  /*border: 1px solid rgb(175, 216, 248);*/
  background-image: url(styling/diamond.svg);
  /*background-color: rgb(255, 254, 106);*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: specialNodes;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.instantobjectTransparent {
  /*border: 1px solid rgb(175, 216, 248);*/
  opacity: 0.5;
  background-image: url(styling/diamond.svg);
  background-color: rgb(255, 254, 106);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.objectTransparent {
  /*border: 1px solid rgb(175, 216, 248);*/
  opacity: 0.5;
  background-image: url(styling/diamond.svg);
  background-color: rgb(255, 254, 106);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: specialNodes;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.target {
  /*border: 1px solid rgb(175, 216, 248);*/
  background-image: url(styling/circle.svg);
  /*background-color: rgb(255, 254, 106);*/
  /*background-color: rgba(232, 147, 12, 0.75);*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: specialNodes;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes specialNodes {
  0% {
    transform: scale(0.3);
    /*background-color: darkslategrey;*/
  }

  50% {
    transform: scale(1.2);
    /*background-color: darkslategrey;*/
  }

  100% {
    transform: scale(1);
    /*background-color: darkslategrey;*/
  }
}

.instantshortest-path {
  /*border: 1px solid rgb(175, 216, 248);*/
  background-color: rgb(255, 254, 106);
}

.instantshortest-path.weight {
  /*border: 1px solid rgb(175, 216, 248);*/
  background-color: rgb(255, 254, 106);
  background-image: url(styling/weight.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.shortest-path {
  /*border: 1px solid rgb(175, 216, 248);*/
  background-color: rgb(255, 254, 106);
  /*background-position: center;
  background-repeat: no-repeat;
  background-size: contain;*/
  animation-name: triangletwo;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.shortest-path.weight {
  /*border: 1px solid rgb(175, 216, 248);*/
  background-color: rgb(255, 254, 106);
  background-image: url(styling/weight.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: triangletwo;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes triangletwo {
  0% {
    transform: scale(0.6);
    background-color: rgb(255, 254, 106);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(255, 254, 106);
  }

  100% {
    transform: scale(1);
    background-color: rgb(255, 254, 106);
  }
}

.shortest-path-unweighted {
  /*border: 1px solid rgb(175, 216, 248);*/
  background: url(styling/spaceshiptwo-up.svg);
  background-color: rgb(255, 254, 106);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
