<layout-header></layout-header>
<div id="mainGrid">
  <div id="mainText">
    <ul>
      <li>
        <div class="start"></div>
        Start Node
      </li>
      <li>
        <div class="target"></div>
        Target Node
      </li>
      <li id="bombLegend">
        <div class="object"></div>
        Bomb Node
      </li>
      <li id="weightLegend">
        <div class="borderlessWeight"></div>
        Weight Node
      </li>
      <li>
        <div class="unvisited"></div>
        Unvisited Node
      </li>
      <li>
        <div class="visited"></div>
        <div class="visitedobject"></div>
        Visited Nodes
      </li>
      <li>
        <div class="shortest-path"></div>
        Shortest-path Node
      </li>
      <li>
        <div class="wall"></div>
        Wall Node
      </li>
    </ul>
  </div>
  <div id="algorithmDescriptor">Pick an algorithm and visualize it!</div>
  <!-- <div class="board-container" style="padding-top: 250px"> -->
  <table id="board">
    <tr *ngFor="let rows of board.boardArray">
      <td
        *ngFor="let item of rows"
        id="{{ item.id }}"
        class="{{ item.status }}"
        (mousedown)="mousedown(item)"
        (mouseup)="mouseup(item)"
        (mouseenter)="mouseenter(item)"
        (mouseleave)="mouseleave(item)"
      ></td>
    </tr>
  </table>

  <!-- </div> -->
</div>
